.themeshub__header{
    background: $dark-color;
    display: grid;
    grid-template-areas: '. inner inner inner inner inner inner .';
    &--inner{
        grid-area: inner;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}