.themeshub__main{
    display: grid;
    grid-template-areas: '. inner inner inner inner inner .';
    padding: 2rem;
    &--inner{
        grid-area: inner;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        grid-template-rows: max-content;
        grid-gap: 2rem;
        
    }
}

