.navbar{
    display: none;
}
.offcanvas_toggler{
    display: block;
    padding: 2rem;
    &:focus{
        outline: none;
    }
}
@media (min-width: 65rem){
    .navbar{
        display: block;
        ul{
            display: flex;
            li{
                position: relative;
            }
            a{
                display: inline-flex;
                padding: 2rem;
                font-size: 1.3rem;
                text-transform: uppercase;
                font-weight: 300;
                font-family: inherit;
            }
        }

    }
    .offcanvas_toggler{
        display: none;
    }
}