.navbar{
    display: none;
}
.offcanvas_toggler{
    display: block;
    padding: 2rem;
    &:focus{
        outline: none;
    }
}
@media (min-width: 65rem){
    .navbar{
        display: block;
        ul{
            display: flex;
            li{
                position: relative;
                margin-left: 0.3rem;
                &.current-menu-item{
                    a{
                        color: $light-color !important;
                        background: transparentize($primary-color, 0.9);
                        position: relative;
                        &:before{
                            content: "";
                            display: block;
                            position: absolute;
                            top: 0%;
                            left: 0;
                            width: 100%;
                            height: 3px;
                            background-color: $primary-color;
                            transition: all 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) 0.2s;
                            
                        }
                    }
                    
                }
                &:hover:not(.current-menu-item){
                    a{
                        color: lighten($primary-color, 10%);
                        &::before{
                            width: 100%;
                        }

                        &::after{
                            height: 100%;
                            background: transparentize($primary-color, 0.9);
                        }
                    }
                    ul{
                        display: block;
                        position: absolute;
                        min-width: 20rem;
                        top: -0.2rem;
                        left: 0;
                        background: lighten($dark-color, 10%);
                        z-index: 15;
                        opacity: 1;
                        li{
                            position: relative;
                            margin: 0 !important;
                            &:last-child{
                                &::before{
                                    display: none;
                                }
                                &::after{
                                    display: none;
                                }
                            }
                            &::before{
                                position: absolute;
                                content: "";
                                display: block;
                                width: 100%;
                                height: 1px;
                                bottom: 0;
                                left: 0;
                                background: lighten($dark-color, 16%);
                            }
                            &::after{
                                 position: absolute;
                                 content: "";
                                 display: block;
                                 width: 100%;
                                 height: 1px;
                                 bottom: 1px;
                                 left: 0;  
                                 background: lighten($dark-color, 15%);
                            }
                            &:hover{
                                a{  
                                    color: $light-color;
                                    &::before{
                                        width: 100%;
                                        background: transparentize($primary-color, 0.9);

                                    }
                                }
                            }
                        }
                        a{
                            color: $primary-color;
                            display: inline-flex;
                            width: 100%;
                            position: relative;
                            padding: 1.4rem;
                            transition: 0.3s;
                            &::before{
                                content: "";
                                display: block;
                                position: absolute;
                                top: 0;
                                left: 0;
                                height: 98%;
                                width: 0px;
                                background: $primary-color;
                            }
                        }
                    }
                }
                
                ul{
                    display: none;
                    transform: translateY(7rem);
                    transition: 0.4s;
                    opacity: 0;
                }
            }
            a{
                display: inline-flex;
                padding: 2.5rem;
                font-size: 1.2rem;
                text-transform: uppercase;
                font-weight: 300;
                font-family: inherit;
                position: relative;
                transition: 0.4s;
                backface-visibility: hidden;
                letter-spacing: 1px;
                text-align: center;
                color: $light-color;
                &:before{
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0%;
                    left: 0;
                    width: 0%;
                    height: 3px;
                    background-color: $primary-color;
                    transition: all 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
                }
                &::after{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 0%;
                    width: 100%;;
                    transition: all 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s;
                    
                }
            }
        }

    }
    .offcanvas_toggler{
        display: none;
    }
}