@import 'mixins';
@import 'variables';
@import 'config';
@import 'utility';
@import 'partials/partials';

.themeshub{
    display: grid;
    grid-template-areas:    'head head head head head head head head' 
                            'main main main main main main main main' 
                            'foot foot foot foot foot foot foot foot';
    grid-gap: 4rem;
    &__header{
        grid-area: head;
    }
    
    &__main{
        grid-area: main;
    }
    &__sidebar{
        grid-area: side;
    }
    &__footer{
        grid-area: foot;
        align-self: flex-end;
    }
}